# Elixir
**/_build/
**/deps/
**/cover/
**/.elixir_ls/

# Haskell
**/.cabal-sandbox/
**/.cabal/
**/.hie/
**/.hie.yaml
**/stack-work/
**/dist-newstyle/
**/cabal.project.local
**/cabal.project.local~
**/cabal.project.local.bak
**/cabal.project.local.bak~

# C (and C++)
**/*.o
**/*.out
**/*.exe

# Python
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/*.pyz
**/*.pyw
**/*.egg-info/
**/dist/
**/build/

# Executables without extensions
**/*[^/]*$